doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    h1 Welcome to Eduwork API Service
    p API is running. Use Postman to test the endpoints.
